.rounded-circle {
    display: inline-block;
    background-color: rgb(246, 237, 237);
    opacity: 0.8;
    padding: 20px;
}

h4 {
    color: rgba(139, 127, 127, 0.89);
    margin-top: 50px;
}

p {
    color: rgb(118, 113, 113)
}


hr {
    width: 35%;
}

.fab {
    color: orange;
    font-size: 3em;
}